<style>
  .achievement-card{
    border: 2px solid;
    border-radius: 5px;
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 15px black;
  }
  .popover-header {
    text-align: center;
    color: #efefef;
    background-color: rgb(30, 30, 37);
    border: black 1px solid;
      z-index: 1;
  }
  .popover-body {
    text-align: center;
    color: #efefef;
    background-color: rgb(36, 39, 47);
    border: black 1px solid;
  }
  .popover-arrow{
      visibility: hidden;
  }
  .hidden {
    display: none;
  }

  .ach-common{
    border-color: #c6c1c5;
    color: #c6c1c5;
    text-shadow: #eae8e8 0 0 10px;
  }
  .ach-common:hover{
    box-shadow: #eae8e8 0 0 10px;
  }
  .ach-uncommon{
    border-color: #268648;
    color: #268648;
    text-shadow: #1cba51 0 0 10px;
  }
  .ach-uncommon:hover{
    box-shadow: #209246 0 0 10px;
  }
  .ach-rare{
    border-color: #1268c3;
    color: #1268c3;
    text-shadow: #429cff 0 0 10px;
  }
  .ach-rare:hover{
    box-shadow: #4493ec 0 0 10px;
  }
  .ach-epic{
    border-color: #8500bc;
    color: #8500bc;
    text-shadow: #b300ff 0 0 10px;
  }
  .ach-epic:hover{
    box-shadow: #a723e0 0 0 10px;
  }
  .ach-artifact{
    border-color: #a95700;
    color: #a95700;
    text-shadow: #f6a400 0 0 10px;
  }
  .ach-artifact:hover{
    box-shadow: #f6a400 0 0 10px;
  }
  .ach-mythic{
    border-color: #9d0c0c;
    color: #9d0c0c;
    text-shadow: #ff0000 0 0 10px;
  }
   .ach-mythic:hover{
   box-shadow: #ff0000 0 0 10px;
  }
</style>
<div class="container theme-container rounded-bottom shadow py-1" style="min-height: 80px">
  <div class="row row-cols-5 justify-content-center">
    {% if achievements_count %}
      {% for ach in achievements %}
        {% include 'sitepages/profile/statistics/achievement.html' with id=ach.achievement.id image=ach.achievement.avatar name=ach.achievement.name description=ach.achievement.description date_obtained=ach.date_obtained html_tag=ach.achievement.rarity_html_tag%}
      {% endfor %}
    {% else %}
      <div class="d-flex container-fluid text-center align-items-center justify-content-center" style="min-height: 80px">
        <i>No data yet...</i>
      </div>
    {% endif %}
  </div>
</div>