  <div class="container-fluid theme-container shadow px-0">
    <div class="container py-2">
      <div class="row">
        <div class="col">
          <ul class="list-group list-group-flush">
            {% include 'sitepages/profile/statistics/listitem.html' with text='Total hours played' color="primary" value=user.statistics.total_hours_played%}
            {% include 'sitepages/profile/statistics/listitem.html' with text='Total games played' color="primary" value=total_games%}
            {% include 'sitepages/profile/statistics/listitem.html' with text='Total ardor points' color="primary" value=user.statistics.total_ardor_points%}
            {% include 'sitepages/profile/statistics/listitem.html' with text='Dice rolled' color="primary" value=user.statistics.dice_rolled%}
          </ul>
        </div>
        <div class="col">
          <ul class="list-group list-group-flush">
            {% include 'sitepages/profile/statistics/listitem.html' with text='Heroes unlocked' color="primary" value=heroes_count%}
            {% include 'sitepages/profile/statistics/listitem.html' with text='Dice unlocked' color="primary" value=0%}
            {% include 'sitepages/profile/statistics/listitem.html' with text='Achievements unlocked' color="primary" value=achievements_count%}
          </ul>
        </div>
      </div>
    </div>
  </div>