<div class="container theme-container rounded-bottom shadow py-2">
  {% if total_games %}
    <div class="d-flex flex-row justify-content-between pb-1">
      <div>
        <span class="badge bg-success badge-pill badge-text">{{ solo_games }}</span>
        Solo
      </div>
      <div>
        Group
        <span class="badge bg-warning badge-pill list-item badge-text">{{ group_games }}</span>
      </div>
    </div>
    <div class="progress bg-dark" style="height: 30px; font-size: 16px;">
      <div class="progress-bar bg-success fw-bold badge-text" role="progressbar" style="width: {{ solo_percent }}%; overflow: hidden; min-width: 30px" aria-valuenow="{{ solo_percent }}" aria-valuemin="0" aria-valuemax="100">
        {{ solo_percent }}%</div>
      <div class="progress-bar bg-warning fw-bold badge-text" role="progressbar" style="width: {{ group_percent }}%; overflow: hidden; min-width: 30px" aria-valuenow="{{ group_percent }}" aria-valuemin="0" aria-valuemax="100">
        {{ group_percent }}%</div>
    </div>
    <hr class="text-light">
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-flush">
          <div class="text-center fw-bold text-success">Solo</div>
          {% include 'sitepages/profile/statistics/listitem.html' with text='Games played' color="success" value=user.statistics.solo.games_played%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Floors passed' color="success" value=user.statistics.solo.floors_passed%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Monsters killed' color="success" value=user.statistics.solo.monsters_killed%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Max. floor reached (chaos)' color="success" value=user.statistics.solo.max_floor_chaos%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Max. floor reached (normal)' color="success" value=user.statistics.solo.max_floor_normal%}
        </ul>
      </div>
      <div class="col">
        <div class="text-center fw-bold text-warning">Group</div>
        <ul class="list-group list-group-flush">
          {% include 'sitepages/profile/statistics/listitem.html' with text='Games played' color="warning" value=user.statistics.group.games_played reverse=True%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Floors passed' color="warning" value=user.statistics.group.floors_passed reverse=True%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Monsters killed' color="warning" value=user.statistics.group.monsters_killed reverse=True%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Max. floor reached (chaos)' color="warning" value=user.statistics.group.max_floor_chaos reverse=True%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Max. floor reached (normal)' color="warning" value=user.statistics.group.max_floor_normal reverse=True%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Total damage healed' color="warning" value=user.statistics.group.total_damage_healed reverse=True%}
          {% include 'sitepages/profile/statistics/listitem.html' with text='Total damage absorbed' color="warning" value=user.statistics.group.total_damage_absorbed reverse=True%}
        </ul>
      </div>
    </div>
  {% else %}
    <div class="d-flex container-fluid text-center align-items-center justify-content-center" style="min-height: 160px">
      <td>
        <i>No data yet...</i>
      </td>
    </div>
  {% endif %}
</div>