{% load static %}
  <div class="equipment-card mx-1">
    <div class="equipment-card-image" style="background-image: url(
        {% if object %}
            {% if object.avatar %}
              {{ object.avatar }}
            {% else %}
              https://www.kindpng.com/picc/m/609-6098768_free-png-question-mark-clipart-png-png-image.png
            {% endif %}
        {% else %}
            {% static image %}
        {% endif %}
      );">
     {% if object %}
        <div class="hero-card-content">
          <div class="equip-level"><span style="font-size:45%">lvl</span>{{ object.level }}</div>
        </div>
      {% endif %}
    </div>
    {% if object %}
      <div class="equip-stat-flex d-flex flex-row justify-content-evenly">
        {% if object.health %}<div class="stat-pip" style="background-color: #ff0000; color: #ff7171">{{ object.health }}</div>{% endif %}
        {% if object.mana %}<div class="stat-pip" style="background-color: #1aa2ae; color: #a6fcff;">{{ object.mana }}</div>{% endif %}
        {% if object.armor %}<div class="stat-pip" style="background-color: #808080; color: #bcbcbc">{{ object.armor }}</div>{% endif %}
        {% if object.defense %}<div class="stat-pip" style="background-color: #E2E1E1; color: #dedede">{{ object.defense }}</div>{% endif %}
        {% if object.attack %}<div class="stat-pip" style="background-color: #D78231; color: #ffbb77">{{ object.attack }}</div>{% endif %}
        {% if object.spell %}<div class="stat-pip" style="background-color: #bc10b9; color: #ff5efa">{{ object.spell }}</div>{% endif %}
      </div>
    {% endif %}
    <div class="equipment-card-text" {% if not object %}style="color: #707070"{% endif %}>
      <div class="equipment-card-text-name">
        {% if object %}
          {{ object.name }}
        {% else %}
          <span >empty slot</span>
        {% endif %}
      </div>
      <div class="equipment-card-text-description" style="display: none">
        {% if object %}
          {{ object.description }}
        {% else %}
          <span">empty slot</span>
        {% endif %}
      </div>
    </div>
  </div>
