{% extends "siteroot/root.html" %}
{% block content %}
  <div class="col">
    <div class="container bg-light rounded-bottom shadow py-1">
      <div class="border-bottom">
        <h2 class="p-1">Email confirmation</h2>
      </div>
      <h5 class="pt-3 text-center">Hello, {{username}}.</h5>
      <div class="fs-6 text-center">Your account has been almost created. We have sent to your email <strong>{{email}}</strong> a confirmation
      code. Please enter it using a form below.</div>
      <form>
        <div class="my-3">
          <div class="d-flex">
            <input type="text" class="form-control bg-light me-2" id="ConfirmationCode" placeholder="Enter a confirmation code">
            <input type="submit" class="btn btn-outline-success shadow-sm" value="Submit">
          </div>
        </div>
      </form>
      <div class="mb-3">
        <a href="#">
        Didn't get the code?
        </a>
      </div>
    </div>
  </div>
{% endblock %}