<div class="container py-2" >
  <form method="POST" action="/settings#change-avatar" autocomplete="off">
    {% csrf_token %}
    <div class="row mb-2">
      <div class="col-md-3 text-start">
        <label for="{{ avatar_form.avatar.id_for_label }}" class="form-label fs-6 pt-1">New avatar URL:</label>
      </div>
      <div class="col-md-4">
          {{ avatar_form.avatar }}
      </div>
      {% if avatar_form.avatar.errors %}
      <div class="col-md-5 text-danger fs-6 rounded">
        {{ avatar_form.avatar.errors }}
      </div>
      {% endif %}
    </div>

    <div class="row mb-2">
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <input type="submit" class="btn btn-outline-success shadow-sm container-fluid" value="Apply" name="submit_avatar">
      </div>
      {% if avatar_changed %}
        <div class="col-md-5 text-success fs-6 rounded">
          Your avatar has been successfully updated
        </div>
      {% endif %}
    </div>
  </form>
</div>