{% extends "siteroot/root.html" %}
{% load static %}
{% block content %}
  <style>
  .badge-text {
    text-shadow: none;
    color: black;
  }
  </style>

<div class="col-3 d-none {% comment %}d-sm-none{% endcomment %} d-lg-block page-column-position">
  {% include 'sitepages/profile/sidebar.html'%}
</div>

<div class="col page-column-position">

  <div class="p-1 pt-2 px-3 navbar navbar-expand-md theme-lightgreen-header navbar-dark container rounded-top">
      <h2>Player statistics</h2>
      <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSettings" aria-controls="navbarSettings" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSettings">
    <div class="navbar-nav">
      {% include 'sitepages/profile/toggledsidebar.html'%}
    </div>
  </div>
  {% include 'sitepages/profile/statistics.html' %}

  <div class="container-fluid theme-lightgreen-header py-1">
      <h4 class="">Total games played</h4>
  </div>
  {% include 'sitepages/profile/totalgamesplayed.html' %}

  <div class="p-1 mt-3 px-3 container theme-lightgreen-header rounded-top">
    <h2>Heroes</h2>
  </div>
  {% include 'sitepages/profile/heroes.html' %}

  <div class="p-1 mt-3 px-3 container theme-lightgreen-header rounded-top">
    <h2>Achievements</h2>
  </div>
  <div class="container theme-lightgreen-container rounded-bottom shadow py-1">
    abc
  </div>
</div>
{% endblock %}
