<div class="container theme-container shadow py-1">
  {% if dice_count %}
    <h5 class="pt-2">Click on dice to browse its data</h5>
    <div class="row row-cols-5 justify-content-center">
    {% for i in dice_list %}
      {% include 'profiles_pages/profile/statistics/dicecard.html' with plays_type='Total' dice=i%}
    {% endfor %}
    {% if more_than_9d %}
      <div class="hero-card m-1" style="background-image: url(https://www.nicepng.com/png/detail/393-3932916_black-dice-png-seven-up-seven-down-dice.png);">
        <div class="d-flex flex-column hero-card-content text-center">
          <div>View all dice</div>
        </div>
      </div>
    {% endif %}
    </div>
  {% else %}
    <div class="d-flex container-fluid text-center align-items-center justify-content-center" style="min-height: 160px">
      <i>No data yet...</i>
    </div>
  {% endif %}
</div>
<div class="container-fluid theme-header py-1">
  <h4 class="">Favourite dice</h4>
</div>
<div class="container theme-container shadow py-1 rounded-bottom">
  <h5 class="pt-2">Top 5 most-played dice</h5>
  {% if top_dice %}
    <div class="row row-cols-5 justify-content-center">
    {% for i in top_dice %}
      {% include 'profiles_pages/profile/statistics/dicecard.html' with plays_type='Total' dice=i%}
    {% endfor %}
    </div>
  {% else %}
    <div class="d-flex container-fluid text-center align-items-center justify-content-center" style="min-height: 160px">
      <i>No data yet...</i>
    </div>
  {% endif %}
</div>