<style>
  .hero-card{
    border: black 2px solid;
    border-radius: 5px;
    min-height: 160px;
    min-width: 160px;
    max-height: 160px;
    max-width: 160px;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 10px black;
    position: relative;
  }
  .hero-card:hover {
      border: darkmagenta 2px solid;
      box-shadow: darkmagenta 0 0 10px;
  }
  .hero-card-content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    background-color: rgba(0,0,0,0.65);
    opacity: 0;
    transition: opacity 0.25s;
  }
  .hero-card-content:hover{
      opacity: 1;
  }
</style>
<div class="container theme-container shadow py-1">
  {% if heroes_count %}
    <h5 class="pt-2">Click on hero to browse its data</h5>
    <div class="row row-cols-5 justify-content-center">
    {% for i in heroes %}
      {% include 'profiles_pages/profile/statistics/herocard.html' with total=True hero=i%}
    {% endfor %}
    {% if more_than_9 %}
      <div class="hero-card m-1" style="background-image: url(https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/users4.png);">
        <div class="d-flex flex-column hero-card-content text-center">
          <div>View all heroes</div>
        </div>
      </div>
    {% endif %}
    </div>
  {% else %}
    <div class="d-flex container-fluid text-center align-items-center justify-content-center" style="min-height: 160px">
      <i>No data yet...</i>
    </div>
  {% endif %}
</div>
<div class="container-fluid theme-header py-1">
  <h4 class="">Favourite heroes & roles</h4>
</div>

<div class="container theme-container shadow py-1 rounded-bottom">
  <h5 class="pt-2">Top most-played heroes (solo)</h5>
  {% if top_solo %}
    <div class="row row-cols-5 justify-content-center">
    {% for i in top_solo %}
      {% include 'profiles_pages/profile/statistics/herocard.html' with solo=True hero=i%}
    {% endfor %}
    </div>
  {% else %}
    <div class="d-flex container-fluid text-center align-items-center justify-content-center" style="min-height: 160px">
      <i>No data yet...</i>
    </div>
  {% endif %}
  <hr class="text-light">
  <h5>Top most-played heroes (group)</h5>
    {% if top_group %}
    <div class="row row-cols-5 justify-content-center">
    {% for i in top_group %}
      {% include 'profiles_pages/profile/statistics/herocard.html' with group=True hero=i%}
    {% endfor %}
    </div>
  {% else %}
    <div class="d-flex container-fluid text-center align-items-center justify-content-center" style="min-height: 160px">
      <i>No data yet...</i>
    </div>
  {% endif %}
  <hr class="text-light">
    <h5>Roles played in group mode</h5>
    {% if group_games %}
      <div class="d-flex flex-row justify-content-start pb-1">
        <div><span class="badge bg-warning badge-pill list-item badge-text mx-1">DPS</span></div>
        <div><span class="badge bg-success badge-pill badge-text mx-1">Healer</span></div>
        <div><span class="badge bg-danger badge-pill list-item badge-text mx-1">Tank</span></div>
      </div>
      <div class="progress mb-3 bg-dark" style="height: 30px; font-size: 16px;">
        <div class="progress-bar bg-warning fw-bold badge-text" role="progressbar" style="width: {{ dps_percent }}%; overflow: hidden; min-width: 30px" aria-valuenow="{{ dps_percent }}" aria-valuemin="0" aria-valuemax="100">{{ dps_percent }}%</div>
        <div class="progress-bar bg-success fw-bold badge-text" role="progressbar" style="width: {{ healer_percent }}%; overflow: hidden; min-width: 30px" aria-valuenow="{{ healer_percent }}" aria-valuemin="0" aria-valuemax="100">{{ healer_percent }}%</div>
        <div class="progress-bar bg-danger fw-bold badge-text" role="progressbar" style="width: {{ tank_percent }}%; overflow: hidden; min-width: 30px" aria-valuenow="{{ tank_percent }}" aria-valuemin="0" aria-valuemax="100">{{ tank_percent }}%</div>
      </div>
    {% else %}
      <div class="d-flex container-fluid text-center align-items-center justify-content-center" style="min-height: 80px">
        <i>No data yet...</i>
      </div>
    {% endif %}
</div>