{% extends "site_root/root.html" %}
{% load static %}
{% block content %}
  <style>
  .badge-text {
    text-shadow: none;
    color: black;
  }
  </style>

<div class="col-3 d-none {% comment %}d-sm-none{% endcomment %} d-lg-block page-column-position">
  {% include 'profiles_pages/profile/sidebar.html' %}
</div>

<div class="col page-column-position">
    <div class="p-0 pt-2 px-3 navbar navbar-expand-md theme-header navbar-dark container rounded-top">
      <h2>Player statistics</h2>
      <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSettings" aria-controls="navbarSettings" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <ul class="nav nav-pills flex-row d-flex justify-content-evenly border-secondary border-top border-bottom theme-header">
      <li class="nav-item py-1">
        <a class="nav-link text-light" href="#general">General</a>
      </li>
      <li class="nav-item py-1">
        <a class="nav-link text-light" href="#heroes">Heroes</a>
      </li>
      <li class="nav-item py-1">
        <a class="nav-link text-light" href="#achievements">Achievements</a>
      </li>
      <li class="nav-item py-1">
        <a class="nav-link text-light" href="#dice">Dice</a>
      </li>
    </ul>
  <div class="collapse navbar-collapse" id="navbarSettings">
    <div class="navbar-nav">
      {% include 'profiles_pages/profile/toggledsidebar.html' %}
    </div>
  </div>

  <div class="container-fluid theme-header py-1" id="general">
      <h4 class="">General</h4>
  </div>
  {% include 'profiles_pages/profile/statistics/statistics.html' %}

  <div class="container-fluid theme-header py-1">
      <h4 class="">Total games played</h4>
  </div>
  {% include 'profiles_pages/profile/statistics/totalgamesplayed.html' %}

  <div class="p-1 mt-3 px-3 container theme-header rounded-top" id="heroes">
    <h2>Heroes</h2>
  </div>
  {% include 'profiles_pages/profile/statistics/heroes.html' %}

  <div class="p-1 mt-3 px-3 container theme-header rounded-top" id="achievements">
    <h2>Achievements</h2>
  </div>
  {% include 'profiles_pages/profile/statistics/achievements.html' %}

  <div class="p-1 mt-3 px-3 container theme-header rounded-top" id="dice">
    <h2>Dice</h2>
  </div>
  {% include 'profiles_pages/profile/statistics/dice.html' %}

</div>
{% endblock %}
