{% load static %}
<style>
  .avatar {
    max-height: 200px;
    max-width: 200px;
    height: 200px;
    width: 200px;
    min-width: auto;
    background-position: center center;
    background-size: cover;
  }
  .avatar-position{
    position: relative;
    top: -100px;
  }
  .username-div{
    max-height: 1px;
    position: relative;
    bottom: 125px;
    left: 250px;
    font-size: 420%;
  }
  .username-text {
    color: #efefef;
    text-align: left;
    text-decoration: none;
  }
  .thumb-avatar{
    border: #191d21 5px solid;
    border-radius: 50%;
  }
  @supports (-webkit-text-stroke: 2px black) {
  .username-text {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: #efefef;
  }
}
</style>
<div class="text-center theme-header container-fluid py-1 pt-2 rounded">
  <div class="py-2">
    <div class="d-flex flex-column">
      <div>
        <div class="username-div">
          <a href="/profile/{{ username }}" class="username-text">
            {{ username }}
          </a>
        </div>
      </div>
      <div style="max-height: 100px" class="d-flex justify-content-center">
        {% if avatar %}
          <a href="/profile/{{ username }}"><div style="background-image: url({{ avatar }})" class="avatar thumb-avatar avatar-position"></div></a>
        {% else %}
          <a href="/profile/{{ username }}"><div style="background-image: url({% static 'Profiles/user.png' %})" class="avatar avatar-position"></div></a>
        {% endif %}
      </div>
      <div {% if max_level %}class="rounded-3 my-1 fw-bold text-white"
           style="background-color: goldenrod; box-shadow: goldenrod 0 0 10px; border: darkgoldenrod 2px solid" {% endif %}>
        Level {{ level }}
      </div>
      {% if not max_level %}
      <div>{{ exp }}/1000 exp</div>
      <div class="progress my-1" style="height: 10px">
        <div class="progress-bar bg-primary fw-bold badge-text" role="progressbar" style="width: {{ percent }}%" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      {% endif %}
      <div class="flex-row">
        <strong class="fs-6">Registration date:</strong> {{ registration_date }}
      </div>
      {% if email %}
        <div class="flex-row">
          <strong class="fs-6">Email:</strong> {{ email }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% if not guest %}
  <div class="mt-2 text-center theme-header container-fluid py-1 pt-2 rounded-top">
    <h5 class="text-center">
      Profile management
    </h5>
  </div>
  <div class="d-flex flex-column theme-container rounded-bottom shadow py-1 px-3">
    <ul class="nav nav-pills flex-column">
      {% if active_settings %}
        {% include 'site_sidebar/element.html' with option='Account settings' url='/settings' active=True%}
      {% else %}
        {% include 'site_sidebar/element.html' with option='Account settings' url='/settings'%}
      {% endif %}
      {% if active_purchase %}
        {% include 'site_sidebar/element.html' with option='Purchase history' active=True%}
      {% else %}
        {% include 'site_sidebar/element.html' with option='Purchase history' %}
      {% endif %}
      <hr class="m-1">
      {% include 'site_sidebar/element.html' with option='Log out' url='/logout' %}
    </ul>
  </div>

  {% if group %}

    {% include 'profiles_pages/profile/sidebar_group.html' %}

  {% else %}

    <div class="mt-2 text-center theme-header container-fluid py-1 pt-2 rounded-top">
      <h5 class="text-center">Group</h5>
    </div>
    <div class="d-flex flex-column theme-container rounded-bottom shadow py-1 px-3">
      <div class="text-center py-2">
        <i>You are not in any group yet...</i>
      </div>
      <hr class="m-1">
      <ul class="nav nav-pills flex-column">
        {% if active_create_group %}
          {% include 'site_sidebar/element.html' with option='Create a group' url='/group/create' active=True%}
        {% else %}
          {% include 'site_sidebar/element.html' with option='Create a group' url='/group/create'%}
        {% endif %}
        {% include 'site_sidebar/element.html' with option='Find a group' url='/community/find-a-group'%}
      </ul>
    </div>

  {% endif %}

{% endif %}
