<style>
.fillh {
  min-height: 100vh;
  height: 100vh;
}
.iconrow{
    max-width: 80px;
    max-height: 80px;
    min-width: 40px;
    min-height: 40px;
}
</style>
{% load static %}
<div class="container fillh d-flex justify-content-center">
  <div class="d-flex flex-column bg-body justify-content-center">

    {% comment %} Icon and header MAKE ICON DISAPPEAR ON SMALL DEVICES{% endcomment %}
    <div class="row mx-2 pt-1" style="min-width: 30vw">
      <div class="col-sm-2 iconrow">
        <img src="{% static 'APIapp/database-icon.jpg' %}" alt="" class="img-fluid text-end" id="database_icon">
      </div>
      <div class="col-sm">
        <p class="text-center text-nowrap fs-1">God Bless the Heroes Database</p>
      </div>
    </div>

    {% comment %} Search form {% endcomment %}
    <div class="px-5">
      <input class="form-control" list="searchList" id="searchForm" placeholder="Type to search...">
    </div>
    <datalist id="searchList">
      {% comment %} OPTIONS (for later)
      <option value="San Francisco">
      <option value="New York">
      {% endcomment %}
      <option value="No options yet">
    </datalist>
    {% comment %} Buttons {% endcomment %}
    <div class="px-5">
      <div class="d-flex flex-row p-2 justify-content-center">
        <div class="p-2 bd-highlight">
          <button type="button" class="btn btn-primary text-nowrap">Categories</button>
        </div>
        <div class="p-2 bd-highlight">
          <button type="button" class="btn btn-primary text-nowrap">Advanced search</button>
        </div>
        <div class="p-2 bd-highlight">
          <button type="button" class="btn btn-primary text-nowrap">Random</button>
        </div>
      </div>
    </div>
  </div>
</div>