<style>
.fillh {
  min-height: 100vh;
  height: 100vh;
}
.iconrow{
    max-width: 80px;
    max-height: 80px;
    min-width: 40px;
    min-height: 40px;
}
.whitetext{
    color: #d2d0d0;
    border-color: #d2d0d0;
}

</style>
{% load static %}
<div class="container fillh d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-center">

    {% comment %} Icon and dbheader MAKE ICON DISAPPEAR ON SMALL DEVICES {% endcomment %}
    <div class="row mx-2 pt-1" style="min-width: 30vw">
      <div class="col-sm-2 iconrow">
        <img src="{% static 'APIapp/database-icon.jpg' %}" alt="" class="img-fluid text-end" id="database_icon">
      </div>
      <div class="col-sm">
        <p class="text-center text-nowrap fs-1 fw-bold text-light">Bless the Heroes Database</p>
      </div>
    </div>

    {% comment %} Search form {% endcomment %}
    <div class="px-5">
      <input class="form-control" list="searchList" id="searchForm" placeholder="Type to search...">
    </div>
    <datalist id="searchList">
      {% comment %} OPTIONS (for later)
      <option value="San Francisco">
      <option value="New York">
      {% endcomment %}
      <option value="No options yet">
    </datalist>
    {% comment %} Buttons {% endcomment %}
    <div class="px-5">
      <div class="d-flex flex-row p-2 justify-content-center">
        <div class="p-2">
          <a href="db/categories" class="btn btn-outline-light text-nowrap" role="button">Categories</a>
        </div>
        <div class="p-2">
          <button type="button" class="btn btn-outline-light text-nowrap">Advanced search</button>
        </div>
        <div class="p-2">
          <button type="button" class="btn btn-outline-light text-nowrap">Random</button>
        </div>
        <div class="p-2">
          <a href="/" class="btn btn-outline-light text-nowrap" role="button">Home page</a>
        </div>
      </div>
    </div>
  </div>
</div>
