<style>
  .footertext{
    color: #707070
  }
  .footerbuttons{
      color: #a1a1a1;
  }
  .fs-7{
      font-size: 11px;
  }
  .mw-65{
      max-width: 65rem;
  }
</style>
<footer class="bd-footer py-5 bg-dark">
  <div class="container px-5 py-2 mw-65">
    <div class="row">
      <div class="col">
        <div class="border-bottom border-secondary">
          <div class="text-nowrap fw-bold footerbuttons">Title</div>
        </div>
        <div class="text-start footerbuttons">Link1</div>
        <div class="text-start footerbuttons">Link2</div>
        <div class="text-start footerbuttons">Link3</div>
        <div class="text-start footerbuttons">Link4</div>
      </div>
      <div class="col">
        <div class="border-bottom border-secondary">
          <div class="text-nowrap fw-bold footerbuttons">Title</div>
        </div>
        <div class="text-start footerbuttons">Link1</div>
        <div class="text-start footerbuttons">Link2</div>
      </div>
      <div class="col">
        <div class="border-bottom border-secondary">
          <div class="text-nowrap fw-bold footerbuttons">Title</div>
        </div>
        <div class="text-start footerbuttons">Link1</div>
        <div class="text-start footerbuttons">Link2</div>
        <div class="text-start footerbuttons">Link3</div>

      </div>
      <div class="col">
        <div class="border-bottom border-secondary">
          <div class="text-nowrap fw-bold footerbuttons">Title</div>
        </div>
        <div class="text-start footerbuttons">Link1</div>
        <div class="text-start footerbuttons">Link2</div>
        <div class="text-start footerbuttons">Link3</div>
      </div>
    </div>
  </div>
  <div class="container py-2 px-5 mw-65">
    <div class="text footertext fs-7">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut quam mi. Aenean sit amet pharetra nunc, et finibus eros. Sed pretium nisi sapien, mattis ultrices diam efficitur a. Nam in eros lacinia, volutpat libero quis, imperdiet mauris. Sed ultrices ante massa, vitae vehicula est imperdiet eget. Sed consequat sagittis viverra. Proin eget arcu porttitor, vestibulum nisi eget, tristique mauris. Maecenas faucibus augue in sem varius venenatis. Nam dignissim ligula a justo cursus rhoncus. Donec sagittis nibh dictum rutrum pretium. Maecenas facilisis turpis a lorem viverra sagittis. Nullam a posuere ligula. Phasellus ac malesuada ante, eu fringilla velit. Mauris malesuada mollis sem id laoreet. Donec interdum ligula vel enim blandit tristique.
    </div>
  </div>
</footer>