{% load static %}
<div style="position: relative">
  <div class="token_icon" style="
           background-image: url({% with 'ProfilesDB/'|add:token|add:'.png' as image_static %}
                                {% static image_static %}
                              {% endwith %})">
    <div class="d-flex flex-column text-center token-value outlined justify-content-center" style="justify-content: center; height: 70px">
      {{ value }}
    </div>
  </div>
  <div class="token-text text-wrap">
    <div class="d-flex flex-column" style="justify-content: center; height: 70px;">
      <div class="bg-token-{{ token }} py-1 outlined" style="padding-left: 55px; line-height: 80%">
        {{ text }}
      </div>
    </div>
  </div>
</div>

